name: Build and Deploy to Azure

on:
  workflow_run:
    workflows: ["Terraform Infrastructure"]
    types:
      - completed

jobs:
  build-and-deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name nikhilacr123

    - name: Build Docker Image
      run: |
        docker build -t nikhilacr123.azurecr.io/my-react-app:${{ github.run_number }} .

    - name: Push Docker Image
      run: |
        docker push nikhilacr123.azurecr.io/my-react-app:${{ github.run_number }}

    - name: Deploy to Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: reactappnikhil56789
        images: nikhilacr123.azurecr.io/my-react-app:${{ github.run_number }}
