name: Build and Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name nikhilacrprod123

    - name: Build Docker Image
      run: |
        docker build -t nikhilacrprod123.azurecr.io/my-react-app:latest .

    - name: Push Image
      run: |
        docker push nikhilacrprod123.azurecr.io/my-react-app:latest

    - name: Deploy to Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: reactappnikhil56789
        images: nikhilacrprod123.azurecr.io/my-react-app:latest
